*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

.button{
  position: absolute;
  top: 50%;
  left: 0;
  width:100px ;
}
.button-right{
  position: absolute;
  top: 50%;
  right: 0;
  width:100px ;
}

